---
layout: default
title: Home
img: assets\images\index\header.png
---

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4">minorDeveloper</h1>
</div>


<h1 class="display-4">Recent posts!</h1>

<div class="row row-cols-1 row-cols-md-3 g-3">
    {% for post in site.posts limit:3 %}
    <div class="col">
        <div class="card h-100">
            <img class="card-img-top d-none d-sm-block"
                 src="{{ site.baseurl }}/assets/images/{{ post.project }}/{% if post.img %}{{ post.img }}{% else %}{{ post.project }}.jpg{% endif %}"
                 alt="TODO" onerror="this.onerror=null;this.src='{{ site.baseurl }}/assets/images/100px200.svg';">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <span class="card-text">{{ post.excerpt }}</span>
            </div>
            <div class="card-footer">
                <small class="text-muted">Uploaded on the {{ post.date | date_to_long_string: "ordinal"}}</small>
                <a href="{{ post.url }}" class="stretched-link"></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

