
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand mb-0" href="/">minorDeveloper</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav me-auto mb-0 mb-lg-0">
        {% for item in site.data.navigation %}
        <li class="nav-item">
          <a class="nav-link  {% if page.url == item.link %} active {% endif %}" href="{{ item.link }}">{{ item.name }}<span class="sr-only">(current)</span></a>
        </li>
        {% endfor %}
        <div class="nav-link">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="darkSwitch">
            <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
          </div><script src="{{ site.baseurl }}/assets/js/dark-mode-switch.min.js"></script>
        </div>
      </ul>
    </div>
  </div>
</nav>
