
@import 'bootstrap/scss/bootstrap';

@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here
// Default variable overrides

$font-family-sans-serif:      "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$body-bg: #000;
$body-color: #fff;

$card-cap-color: #0f1;


// 3. Include remainder of required Bootstrap stylesheets
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";

.card-img-top {
  object-fit: cover;
  height: 180px;
}

.background-img {
  z-index: -1;
  object-fit: contain;
  height: 1200px;
  position: absolute;
  top: -75px;
}

[data-theme="dark"] {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-light {
  background-color: #333 !important;
}

[data-theme="dark"] .bg-white {
  background-color: #000 !important;
}

[data-theme="dark"] .bg-black {
  background-color: #eee !important;
}


